$tint: #049

// Navigation sidebar
$initialWidth: 50%
$openedWidth: 20%

html
  font-size: calc(12px + 0.3vw)
  box-sizing: border-box
  background-size: cover
  background-image: url(/images/Blue-Backgrounds.jpg)
  background-position: top right
  font-family: "Trebuchet MS", Helvetica, sans-serif
*, *:before, *:after
  box-sizing: inherit

html, body
  height: 100%

header
  right: 0
  color: white
  position: absolute
  box-shadow: 0 0 1em $tint
  padding-left: 5em
  padding-right: 0.6em
  background-color: $tint
  border-bottom-left-radius: 50% 100%
  h1
    display: inline
  &:before
    content: '🕸'
    font-size: 50px
  a:link, a:visited
    top: 0
    right: 0
    position: absolute
    font-size: x-small
    font-style: italic

nav
  float: left
  width: $initialWidth
  transition: 0.2s
  overflow-x: hidden
  overflow-y: auto
body.index aside
  display: flex
  flex-direction: column

button
  color: white
  border: none
  transition: 0.1s
  text-shadow: -2px -2px black
  background-color: $tint
  &:hover
    text-shadow: -4px -4px black

a
  &:link, &:visited
    color: lightgray
    display: block
    outline: none
    min-height: 1.4em
    text-shadow: 0 0 3px black
    text-decoration: none
  &.symbol
    float: right
    width: 1.3em
    display: none
    text-align: center
    padding-top: 0.1em
    margin-right: 0.1em
    border-radius: 3px
    &:hover
      box-shadow: 0 0 2px $tint
img
  max-width: 100%
  &.preview
    max-height: 1.2em
    vertical-align: middle
    &:hover
      z-index: 10
      position: absolute
      max-width: 10em
      max-height: 10em
      margin-top: -1em

tr
  &:nth-child(odd)
    background: linear-gradient(to top right, $tint, transparent)
  &:nth-child(even)
    background: linear-gradient(to bottom right, $tint, transparent)
  &:hover
    background: linear-gradient(to right, $tint, transparent)
    a
      color: white
      text-shadow: 0 0 3px black
      &.symbol
        display: block
        position: relative
        background-color: white
    img.preview
      border: solid thin $tint
      box-shadow: 0 0 3px black
      background-color: white
  &.selected
    background: linear-gradient(to right, $tint, white)
    a
      color: white
  &[type=\[DIR\]], &[type=\[IMG\]], &[type=\[TXT\]]
    td:first-child
      padding-left: 1em
  &.error
    box-shadow: 0 0 0.4em red
  th
    text-align: left
  td:first-child
    text-align: center
  td:last-child
    width: 100%
    padding: 0
    white-space: nowrap
  h1, h2, h3
    margin: 0

aside
  text-align: center
  align-items: center
  justify-content: space-evenly
  form
    box-shadow: 0 0 1px gray
    border-radius: 0.5em
    background-color: white
    label
      padding: 0 0.5em
    span, button
      display: inline-block
      font-size: larger
    button
      padding: .2em .5em
    span.plus
      color: DarkGoldenRod
      position: absolute
      margin-top: -0.5em
      margin-left: -0.5em
      text-shadow: 0 0 2px gold
    input
      color: black
      outline: none
      border-color: transparent
      background-color: transparent
      &.extension
        width: 3em

#edit
  display: flex
  flex-direction: column
  label
    font-size: large
    button
      padding: 0.2em 2em
  #editor
    flex-grow: 1

body.index
  main
    display: none

body.show, body.edit
  nav
    width: $openedWidth
  aside
    width: 19.7%
    bottom: 0
    position: absolute
    &:hover form
      display: none
    form
      display: inline-block
      position: relative
      white-space: nowrap
      label + label, input, button
        display: none
      &:hover
        display: block
        overflow: hidden
        text-align: left
        border-radius: 0
        label + label, input, button
          display: inline
        input.filename
          max-width: calc(100% - 10em)
        button
          right: 0
          position: absolute
body.show #edit, body.edit #viewer
  display: none

main
  width: 100% - $openedWidth
  overflow: hidden
  form
    height: 100%
    position: relative
  .tox.tox-tinymce
    height: 100% !important
    border: none
    border-radius: 0
  .tox .tox-editor-header
    background: linear-gradient(to right, white 40em, transparent) !important
  .tox .tox-toolbar,
  .tox .tox-toolbar-overlord
    background-color: transparent !important
  .tox .tox-edit-area::before
    border: none
