Oh my dog!

<%= 'hello world' %>

<p style="text-align: left">From the left</p>

<p style="text-align: justify">#{'hello world!'}</p>
<p style="text-align: center">Test justifié</p>
<p style="text-align: right">Test justifié 2</p>
